* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

#top-main {
  background: linear-gradient(#6eaeff, #54a0ff);
}

#main-box {
  text-align: center;
  margin: 0;
  padding: 2em;
  padding-bottom: 0;
  z-index: 1;
}

#main-text {
  font-size: 3.5em;
  margin: 0;
}
#main-text div {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(30%);
  display: inline-block;
  color: white;
  will-change: transform, opacity;
}

#main-desc-div {
  padding: 2em;
  z-index: 1;
}

#main-desc {
  margin: 0;
  font-size: 1.5em;
  color: white;
  transition: all 1s ease;
  opacity: 0;
  will-change: opacity;
}

#main-button {
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
  align-self: flex-end;
  margin-top: 20px;
  transform: translateY(-30%);
  border-radius: 5px;
  will-change: transform, opacity;
}

#main-blob-area {
  position: absolute;
  width: 100%;
  top: 5%;
  left: 0;
  z-index: 0;
  display: none;
}

#blob {
  background: linear-gradient(#ff6b6b, transparent);
  width: 80%;
  border-radius: 50%;
  align-self: flex-end;
}

@keyframes downArrow {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0%);
  }
}
#moreAboutText {
  z-index: 1;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 1.3em;
  opacity: 0;
  transform: translateY(-10%);
  transition: all 1s ease;
  cursor: pointer;
  will-change: transform, opacity;
}
#moreAboutText i {
  animation-name: downArrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#about {
  background-color: #1dd1a1;
  min-height: 770px;
  position: relative;
  box-shadow: inset 0px -8px 10px -10px #0006;
}

#aboutMe {
  justify-content: center;
  padding: 50px 0;
}

#avatarDiv {
  text-align: center;
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.32);
}

#aboutSec {
  color: white;
  padding: 0 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#aboutSec h1 {
  text-align: center;
  font-size: 2.5em;
}

.aboutText {
  text-align: center;
  font-size: 1.5em;
  margin-top: 0;
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(-30%);
  opacity: 0;
}

#skills {
  background-color: white;
  z-index: 10;
}

#skills-table {
  background-color: white;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -15%;
  position: relative;
  text-align: center;
  border: 1px solid #e0e0e0;
  max-width: 1150px;
}

.skill-col {
  padding: 50px;
}

.skill-col:first-child {
  border-bottom: 1px solid #e0e0e0;
}

.skill-icon {
  font-size: 3em;
  color: #ff6b6b;
}

.skill-desc {
  font-size: 1.2em;
  color: #686868;
}

.skill-desc-primary {
  color: #ff6b6b;
}

.fadeInScroll {
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(-30%) rotateX(120deg);
  opacity: 0;
  will-change: transform, opacity;
}

.fadeInScroll2 {
  transition: all 0.7s cubic-bezier(0.86, 0, 0.07, 1);
  transform: rotateX(50deg);
  opacity: 0;
  will-change: transform, opacity;
}

#certifications {
  text-align: center;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.cert {
  width: 125px;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0.5;
  margin: 0 5px;
}
.cert:hover {
  opacity: 1;
  transform: scale(1.05);
}

.certBig {
  margin: 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
  border-radius: 5px;
  width: 347.8260869565px;
  height: 259.5652173913px;
}

#projects {
  padding: 20px;
  background-color: white;
  position: relative;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 0 5px 5px #0000001a;
}

#title-div {
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#projectsTitle {
  margin: 0;
  text-align: center;
  font-size: 3em;
}

.line {
  height: 1px;
  background-color: #e0e0e0;
}

#project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  border-radius: 5px;
  margin: 10px 0;
  width: 500px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.32);
}

#clientcommand {
  background-image: url("/img/clientcommand.jpg");
}

#tempest {
  background-image: url("/img/tempest.jpg");
}

#alexa {
  background-image: url("/img/alexa.jpg");
}

#travelfy {
  background-image: url("/img/travelfy.jpg");
}

#minimum {
  background-image: url("/img/minimum.jpg");
}

.project-body {
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: 110%;
  height: 225px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.5s ease;
}
.project-body:hover {
  background-size: 115%;
}
.project-body:hover .project-info {
  opacity: 1;
}

.project-footer {
  background-color: #272727;
  box-shadow: inset 0 0 10px -1px rgba(0, 0, 0, 0.541);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.project-tags {
  padding: 15px;
}

.project-tag {
  display: inline-block;
  color: white;
  background-color: #54a0ff;
  border-bottom: 2px solid #0047a1;
  padding: 5px 10px;
  margin: 5px;
  cursor: default;
  border-radius: 2px;
}
.project-tag i {
  margin-right: 0.5em;
  font-size: 0.8em;
}

.project-info {
  background-color: rgba(0, 0, 0, 0.493);
  height: 100%;
  position: relative;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  transition: all 0.5s ease;
  display: flex;
  opacity: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-name {
  width: 100%;
  color: white;
  font-size: 2em;
  height: 70%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.project-link {
  transition: all 0.5s ease !important;
  display: flex;
  align-items: center;
}
.project-link i {
  margin-left: 0.5em;
}

#contact {
  background-color: #ff6b6b;
  color: white;
  padding: 50px 0;
  position: relative;
}
#contact > .row {
  justify-content: center;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
#contact h1 {
  font-size: 3em;
  text-align: center;
  margin: 0;
}
#contact p {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
#contact form {
  margin-top: 50px;
}
#contact #form-row2 {
  margin-top: 20px;
}
#contact #form-row > div:first-child {
  margin-bottom: 20px;
}
#contact #contactTextarea {
  margin-top: 20px;
  height: 250px;
}
#contact #contactSubmit {
  width: auto;
  padding: 0;
  background: none;
  color: white;
  cursor: pointer;
}
#contact .button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
  width: 150px;
  text-align: center;
  margin-right: auto;
  font-size: 1.2em;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.5s ease;
}

@keyframes heart {
  from {
    transform: scale(1.2);
    color: #ee52bf;
  }
  to {
    color: #ee5253;
    transform: scale(1);
  }
}
footer {
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
}
footer i {
  margin: 0 0.3em;
  animation-name: heart;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*******  BUTTONS *******/
.button {
  padding: 10px;
  background: none;
  border-radius: 5px;
  border-style: none;
  transition: all 1s ease;
}
.button:hover {
  transform: scale(1.05) !important;
}
.button i.left-icon {
  margin-right: 0.2em;
}
.button i.right-icon {
  margin-left: 0.2em;
}

.button-primary {
  color: #dafaf1;
  background-color: #1dd1a1;
}
.button-primary:hover {
  background-color: #27e1af;
}

.button-info {
  color: white;
  background-color: #54a0ff;
}
.button-info:hover {
  background-color: #6eaeff;
}

.button-big {
  padding: 15px;
  font-size: 1.5em;
}

.disabled {
  opacity: 0.5 !important;
  cursor: default !important;
  background-color: #686868;
}
.disabled * {
  color: #e0e0e0 !important;
  cursor: default !important;
}
.disabled:hover {
  transform: none !important;
  background-color: #686868 !important;
}

/*******  INPUTS *******/
input,
textarea {
  border: 0;
  padding: 15px;
  width: 100%;
}

textarea {
  resize: vertical;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  #main-blob-area {
    display: flex;
  }

  #skills-table {
    margin-left: 50px;
    margin-right: 50px;
  }

  .certBig {
    width: 500px;
    height: 373.125px;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  #main-box {
    padding: 4em;
    padding-bottom: 0;
  }

  #main-desc-div {
    padding: 4em;
  }

  #main-text {
    font-size: 4.9em;
  }

  #skills-table {
    margin-left: 100px;
    margin-right: 100px;
  }
  #skills-table .skill-col:first-child {
    border-right: 1px solid #e0e0e0;
    border-bottom: none;
  }

  #projects {
    padding: 50px;
  }

  #project-list {
    padding-left: 20px;
    padding-right: 20px;
  }

  .project {
    margin: 10px;
  }

  .project-body {
    background-size: 100%;
  }
  .project-body:hover {
    background-size: 105%;
  }

  .cert {
    width: 175px;
  }

  .certBig {
    width: 666.6666666667px;
    height: 497.5px;
  }

  #contact input, #contact textarea {
    background-color: white;
    color: black;
  }
  #contact #form-row {
    flex-wrap: nowrap;
  }
  #contact #form-row > div:first-child {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  #main-box {
    text-align: right;
    padding: 250px 1em 250px 8em;
    max-width: 674.5px;
  }

  #main-desc-div {
    padding: 250px 8em 250px 1em;
    max-width: 674.5px;
  }

  #moreAboutText {
    margin-top: -100px;
  }

  .project {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .g_col-xl-1 {
    width: 8.3333333333%;
  }

  .g_col-xl-2 {
    width: 16.6666666667%;
  }

  .g_col-xl-3 {
    width: 25%;
  }

  .g_col-xl-4 {
    width: 33.3333333333%;
  }

  .g_col-xl-5 {
    width: 41.6666666667%;
  }

  .g_col-xl-6 {
    width: 50%;
  }

  .g_col-xl-7 {
    width: 58.3333333333%;
  }

  .g_col-xl-8 {
    width: 66.6666666667%;
  }

  .g_col-xl-9 {
    width: 75%;
  }

  .g_col-xl-10 {
    width: 83.3333333333%;
  }

  .g_col-xl-11 {
    width: 91.6666666667%;
  }

  .g_col-xl-12 {
    width: 100%;
  }

  #main-box {
    margin-left: auto;
  }

  #main-desc-div {
    margin-right: auto;
  }

  #skills-table {
    margin-left: auto;
    margin-right: auto;
  }

  .project {
    width: 500px;
  }

  .certBig {
    width: 800px;
    height: 597px;
  }
}
@media (min-width: 1920px) {
  #about {
    height: 750px;
    min-height: 0;
  }

  #skills-table {
    margin-top: -200px;
  }

  #blob {
    background: linear-gradient(#ff6b6b, transparent, transparent, transparent);
  }
}

/*# sourceMappingURL=main.css.map */
