/* FONTS */
@font-face {
  font-family: Aktiv;
  src: url('fonts/AktivGroteskEx_XBd.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url('fonts/CircularXX-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: Circular;
  src: url('fonts/CircularStd-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Graphik;
  src: url('fonts/Graphik-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Graphik;
  src: url('fonts/Graphik-Regular.otf');
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: Graphik;
  src: url('fonts/Graphik-Medium.otf');
  font-weight: 400;
  font-display: auto;
}
/*************/

/* Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Graphik, basis-grotesque, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: #1e2223;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

p {
  line-height: 35px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

a:visited {
  color: white;
}

::selection {
  background: #d3bf7a;
  color: black;
}
::-moz-selection {
  background: #d3bf7a;
  color: black;
}
/*************/

/* Generals */
.container {
  padding: 0 20px;
  margin: auto;
}

.button {
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 18px;
  max-width: 475px;
  font-family: Circular;
}

.title {
  font-family: Aktiv;
  font-size: 28px;
}
/*************/

/* Elements */
#navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 20px 20px;
  font-family: Aktiv;
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

#navbar .container {
  justify-content: center;
  display: flex;
  max-width: 1350px;
}

#navbar.white {
  background-color: white;
}

#navbar.white a {
  color: black;
}

#logo {
  margin-left: auto;
  padding-left: 50px;
  transition: color 0.3s ease;
}

#logo a:hover {
  color: #d3bf7a;
}

#media {
  margin-left: auto;
  display: flex;
  align-items: center;
  color: white;
}

.media-button {
  font-size: 14px;
  cursor: pointer;
}

.media-button a {
  transition: color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.media-button a:hover,
#navbar.white .media-button a:hover {
  color: #d3bf7a;
}

.media-button + .media-button {
  margin-left: 35px;
}

#header {
  position: relative;
}

#header-video {
  position: relative;
  background-color: #1e2223;
  max-height: 800px;
  overflow: hidden;
  height: 100%;
}

#header-video video {
  height: 100%;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 55vw; /* 100 * 9 / 16 */
}

#header-video-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: radial-gradient(
    farthest-corner at 50% 10%,
    transparent,
    #1e222362,
    #1e2223 90%
  );
  z-index: 5;
}

#header-video-gradient-bottom {
  width: 100%;
  height: 350px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  background: linear-gradient(transparent, #1e2223b0 60%, #1e2223);
}

#header-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-top: 170px;
  color: white;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-25%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

#header-main-text {
  opacity: 0;
  animation: slideInFromTop 0.5s ease forwards;
  animation-delay: 1s;
}

.effect-text {
  font-size: 40px;
  margin-left: -5px;
  font-family: Aktiv;
  color: white;
}

.effect-text > .effect {
  -webkit-text-stroke-color: #d3bf7a;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.75px;
}

#header-description {
  opacity: 0;
  animation: slideInFromTop 0.5s ease forwards;
  animation-delay: 2.5s;
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#header-buttons {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
  animation-delay: 3.5s;
  display: flex;
  font-family: Circular;
  margin-top: 25px;
}

#header-buttons .button {
  padding: 10px 20px;
  font-size: 13px;
}

#header-buttons i {
  transition: transform 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin-right: 8px;
  font-size: 12px;
}

#header-buttons .button:hover i {
  transform: scale(1.2);
}

#go-to-shop {
  background-color: black;
  transition: background-color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#go-to-shop:hover {
  background-color: rgb(20, 20, 19);
}

#watch-video {
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#watch-video:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#main-topics {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 150px 0;
  padding-bottom: 300px;
  justify-content: center;
  max-width: 500px;
}

.topic {
  display: flex;
  flex-direction: column;
  width: 300px;
  opacity: 0;
  transition: opacity 0.75s ease;
}

.topic.visible {
  opacity: 1;
}

.topic .title,
.topic .text {
  opacity: 0;
}

.topic.visible .title,
.topic.visible .text {
  animation: slideInFromTop 0.5s ease forwards;
  animation-delay: 1s;
}

.topic + .topic {
  margin-top: 100px;
}

.topic .image {
  width: 100%;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
  border-radius: 1px;
  /* flex: 0 0 50%; */
}

.topic .image .content {
  background: url('assets/images/placeholder2.jpg');
  padding-bottom: 100%;
  max-width: 100%;
  height: 100%;
}

.topic .title {
  margin-top: 60px;
}

.topic .text {
  margin-top: 20px;
}

#our-clients {
  color: black;
  background-color: white;
  padding-top: 150px;
  padding-bottom: 150px;
}

#our-clients .effect-text {
  color: black;
  text-align: center;
}

#our-clients .text {
  margin: auto;
  max-width: 700px;
  text-align: center;
}

#clients {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 150px;
  padding: 0 20px;
  max-width: 1375px;
}

#clients .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#clients .row + .row {
  margin-top: 30px;
}

.client {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(20%);
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s ease;
}

.client.visible {
  opacity: 1;
  transform: translateY(0%);
}

.client + .client {
  margin-top: 30px;
}

.client:last-child .image {
  order: 1;
}

#clients .info {
  font-weight: 300;
  padding: 0 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.client .image {
  border-radius: 10px;
  background: url('assets/images/placeholder.jpg');
  background-size: 100%;
  max-width: 310px;
  max-height: 310px;
  flex: 0 0 45%;
  width: 50%;
  overflow: hidden;
}

.client .image .content {
  padding-bottom: 100%;
  max-width: 100%;
}

#client-4 {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#special-client {
  width: 100%;
  display: flex;
  align-items: center;
}

#clients .info.special-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  height: 50%;
}

#clients .info .name {
  font-size: 28px;
}

#clients .info .instagram {
  margin-top: 15px;
  background-color: #f7f7f7;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 16px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#clients .info .instagram:hover {
  transform: scale(1.1);
  background-color: #f3f3f3;
}

#clients .info .instagram a {
  color: #565656;
}

#clients .info .followers {
  font-size: 12px;
  margin-top: 20px;
}

#hidden1,
#hidden2 {
  opacity: 0;
  transform: translateY(50%);
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 1s ease;
}

#hidden3,
#hidden4 {
  opacity: 0;
  transition: opacity 1s ease;
}

#hidden3.visible,
#hidden4.visible {
  opacity: 1;
}

#hidden1.visible,
#hidden2.visible {
  opacity: 1;
  transform: translateY(0%);
}
/*************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    padding: 0 25px;
  }

  .effect-text {
    font-size: 60px;
  }

  #header-text {
    margin-top: 30px;
  }

  #header-buttons .button {
    padding: 15px 40px;
    font-size: 14px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .effect-text {
    font-size: 75px;
  }

  .container {
    max-width: 768px;
  }

  #main-topics {
    max-width: 800px;
  }

  .topic + .topic {
    margin: 0;
  }

  .topic:nth-child(3),
  .topic:nth-child(4) {
    margin-top: 60px;
  }

  .topic:nth-child(even) {
    margin-left: 30px;
  }

  #clients {
    padding: 0 55px;
  }

  .client {
    width: 50%;
    justify-content: flex-start;
  }

  .client + .client {
    margin-top: 0;
  }

  #clients .row + .row {
    margin-top: 20px;
  }

  .client:last-child .image {
    order: 0;
  }

  .client .image {
    flex: 0 0 50%;
  }

  #client-3 .image {
    flex: 0 1 100%;
    width: 100%;
    max-width: initial !important;
    max-height: initial !important;
  }

  #client-3 {
    padding-right: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Ultra large devices (large desktops, 1200px and up) */
@media (min-width: 1348px) {
  .container {
    max-width: 1375px;
  }

  #main-topics {
    max-width: 100%;
    justify-content: space-between;
  }

  .topic + .topic {
    margin-left: 30px;
  }

  .topic:nth-child(3),
  .topic:nth-child(4) {
    margin-top: 0;
  }

  #clients {
    padding: 0 25px;
  }
}
