/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .first-sec {
        padding: 50px 0px !important;
        padding-top: 0 !important;
    }
    .skills {
        height: auto !important;
    }
    .skl-sec {
        width: 30% !important;
        margin: 20px 0 !important;
        opacity: 0;
    }
    .skills-title {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    .second-sec {
        background-size: cover !important;
        background-position-x: -5% !important;
        height: auto !important;
        padding: 0 !important;
        overflow: hidden;
    }
    .text-section {
        float: none !important;
        margin: 70px auto !important;
        width: 90% !important;
        display: block;
    }
    .proj-title {
        font-size: 50px !important;
    }
    .proj-list {
        padding: 10px !important;
        padding-top: 50px !important;
    }
    .project {
        margin: 15px !important;
    }
}

/* Tablets (portrait and landscape) ----------- */

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .first-sec {
        padding: 50px 0px !important;
        padding-top: 0 !important;
    }
    .skills {
        height: auto !important;
    }
    .skl-sec {
        width: 16% !important;
        margin: 20px 0 !important;
        opacity: 0;
    }
    .skills-title {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
    .second-sec {
        background-size: cover !important;
        background-position-x: -30% !important;
        height: auto !important;
        padding: 0 !important;
        overflow: hidden;
    }
    .text-section {
        float: none !important;
        margin: 100px auto !important;
        width: 70% !important;
        display: block;
    }
    .proj-title {
        font-size: 50px !important;
    }
    .proj-list {
        padding: 10px !important;
        padding-top: 50px !important;
    }
    .project {
        margin: 15px !important;
    }
}

body, html {
    margin: 0;
    padding: 0;
}

.first-sec {
    background: rgb(22, 22, 22);
    background-image: url("img/info-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding: 30px;
}

.main-info {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    transition: 0.5s all cubic-bezier(.79, .14, .15, .86);
    opacity: 0;
    transform: translate(0, 5%);
}

.avatar {
    margin: 20px auto;
    border: 2px solid rgb(63, 63, 63)
}

.title {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 40px;
}

.title b {
    color: rgb(71, 71, 71);
}

.avatar {
    width: 200px;
    height: 200px;
    background-image: url("/img/avatar.jpg");
    background-size: cover;
    border-radius: 100%;
}

.desc {
    color: rgb(167, 167, 167);
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.media-links {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s all cubic-bezier(.79, .14, .15, .86);
    opacity: 0;
    transform: translate(0, 25%)
}

.second-sec {
    height: 400px;
    padding: 50px;
    background-color: rgb(28, 31, 34);
    font-family: 'Noto Sans SC', sans-serif;
    background-image: url("/img/sec2.png");
    background-position-x: 120%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.377);
}

.text-section {
    width: 400px;
    color: rgb(152, 163, 168);
    float: left;
    margin-left: 50px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

.info-title {
    font-size: 20px;
    color: rgb(220, 226, 228);
    width: 100%;
    margin-bottom: 20px;
}

@keyframes titleB-anim {
    from {
        color: rgb(76, 133, 197);
    }
    to {
        color: rgb(159, 114, 207);
    }
}

.info-title b {
    color: rgb(76, 133, 197);
    animation-name: titleB-anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.third-sec {
    background-image: url("/img/sec3.png");
    background-color: rgb(27, 24, 26);
    background-size: cover;
    overflow: hidden;
}

.proj-title {
    font-size: 60px;
    text-align: center;
    color: rgb(223, 223, 223);
    margin-top: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: 0;
    transition: 0.5s all cubic-bezier(.79, .14, .15, .86);
    transform: translate(0, 25%);
}

@keyframes projKey {
    from {
        color: rgb(255, 120, 79);
    }
    to {
        color: rgb(232, 116, 243);
    }
}

.key {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
}

.third-sec .key {
    animation-name: projKey;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.skills {
    height: 200px;
    opacity: 0;
    transform: translate(0, 10%);
    transition: 0.5s all cubic-bezier(.79, .14, .15, .86);
    padding-top: 10px;
}

.skl-sec {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.3s all cubic-bezier(.79, .14, .15, .86);
}

.skl-icon {
    fill: white;
    transition: 0.3s all cubic-bezier(.79, .14, .15, .86);
}

.skl-name {
    font-size: 20px;
}

.skl-rank {
    color: grey;
    display: inline-block;
    margin-top: 3px;
    transition: 0.3s all cubic-bezier(.79, .14, .15, .86);
}

.skl-hover {
    opacity: 1 !important;
}

.skl-html:hover, .skl-html:hover .skl-rank {
    color: rgb(243, 127, 59);
}

.skl-html:hover .skl-icon {
    fill: rgb(243, 127, 59);
}

.skl-css:hover, .skl-css:hover .skl-rank {
    color: rgb(69, 162, 238);
}

.skl-css:hover .skl-icon {
    fill: rgb(69, 162, 238);
}

.skl-ps:hover, .skl-ps:hover .skl-rank {
    color: rgb(94, 137, 218);
}

.skl-ps:hover .skl-icon {
    fill: rgb(94, 137, 218);
}

.skl-js:hover, .skl-js:hover .skl-rank {
    color: rgb(238, 212, 66);
}

.skl-js:hover .skl-icon {
    fill: rgb(238, 212, 66);
}

.skl-jq:hover, .skl-jq:hover .skl-rank {
    color: rgb(93, 90, 241);
}

.skl-jq:hover .skl-icon {
    fill: rgb(93, 90, 241);
}

.skl-react:hover, .skl-react:hover .skl-rank {
    color: rgb(56, 196, 221);
}

.skl-react:hover .skl-icon {
    fill: rgb(56, 196, 221);
}

.skills-title {
    color: rgba(255, 255, 255, 0.678);
    width: 200px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    transform: scale(1) !important;
    opacity: 0;
    transition: 0.3s all cubic-bezier(.79, .14, .15, .86);
}

.skl-tbar {
    width: 20px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
    vertical-align: middle;
    margin: 0 10px;
}

.proj-list {
    padding: 70px;
    text-align: center;
}

.project {
    width: 250px;
    height: 120px;
    background-color: rgb(121, 121, 121);
    display: inline-block;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
    transition: 0.3s all cubic-bezier(.79, .14, .15, .86);
    opacity: 0;
    text-decoration: none;
}

.project:hover {
    filter: brightness(130%);
}

.dummy-project::before {
    content: "dummy website";
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    background-color: rgb(48, 75, 41);
    color: rgb(142, 204, 126);
    padding: 3px;
    height: 20px;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.minimum {
    background-image: url("/img/ico-minimum.jpg");
}

.travelfy {
    background-image: url("/img/ico-travelfy.jpg");
}

.blankproj {
    background-image: url("img/ico-blankproj.jpg");
}

.git-link {
    font-family: 'Noto Sans SC', sans-serif;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgb(29, 29, 29);
    border-bottom: 1px solid rgb(56, 56, 56);
    display: inline-block;
    margin: 0 auto;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: left;
    transition: 0.3s all cubic-bezier(.79, .14, .15, .86);
}

.git-link:hover {
    filter: brightness(125%);
}

.git-img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.git-url {
    color: rgb(216, 216, 216);
    text-decoration: none;
    vertical-align: super;
}