@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Amiko');

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.header {
    background-color: rgba(0, 0, 0, 0.767);
    height: 30px;
    padding: 10px 150px;
    position: fixed;
    width: 78%;
    z-index: 1;
    box-shadow: 0 2px 10px #00000080;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Quicksand', sans-serif;
    float: left;
}

.logo-detail {
    font-weight: bold;
    color: rgb(255, 95, 135);
}

.menu {
    float: right;
    display: inline-block;
    color: white;
    font-family: 'Oxygen', sans-serif;
    line-height: 25px;
}

.menu-now {
    color: rgb(255, 95, 135);
    font-weight: bold;
    cursor: inherit;
}

.header-button {
    display: inline-block;
    width: 50px;
    margin: 0 5px;
    cursor: pointer;
}

.search-container {
    height: 500px;
}

.search-div {
    background: #fffc;
    width: 650px;
    border-radius: 50px;
    box-shadow: 0 5px 10px #0000004d;
    color: rgb(255, 95, 135);
    margin: auto;
    position: relative;
    top: 220px;
    z-index: 2;
}

.register-button {
    background-color:rgb(255, 95, 135);
    padding: 15px;
    font-size: 25px;
    color: white;
    position: relative;
    top: 270px;
    margin: auto;
    z-index: 2;
    width: 200px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;
}

.register-button:hover {
    background-color:rgb(255, 111, 147);
}

.search-bar {
    display: block;
    font-size: 20px;
    background: 0;
    border: 0;
    height: 100%;
    padding: 15px;
    width: 91%;
    color: rgb(255, 95, 135);
}

.search-go {
    cursor: pointer;
    position: absolute;
    right: 15px;
    font-size: 30px;
    top: 7px;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.search-go:hover {
    color: rgb(255, 111, 147);
}

.featured {
    height: 450px;
    background: #fff;
    text-align: center;
    position: relative;
}

.featured-pane {
    background: white;
    width: 280px;
    margin: 5px 10px;
    display: inline-block;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    box-shadow: 0 3px 10px #0003;
    font-family: 'Amiko', sans-serif;
}

.img-place {
    width: 100%;
    height: 180px;
    background-size: 100%;
    transition: all 0.2s ease-in-out;
    background-position: 50%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.place-desc {
    text-align: left;
    padding: 10px;
}

.p-title {
    font-weight: bold;
    font-size: 18px;
}

.p-price {
    color: white;
    background: #4dbf4a;
    padding: 5px;
    max-width: 100px;
    float: right;
    position: relative;
    top: -45px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-shadow: 0 1px 1px #0009;
    border: 1px solid #0aaa00;
    text-align: center;
    border-right: 0;
}

.featured-title {
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    margin-top: 25px;
    margin-bottom: 15px;
}

.featured-title>.fas {
    color: rgb(255, 95, 135);
}

.main-text {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Oxygen', sans-serif;
    text-shadow: 0 4px 4px #00000080;
    position: relative;
    top: 170px;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.main-text>b {
    color: rgb(255, 95, 135);
}

.container-bg {
    left: 0;
    height: 500px;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgb(132, 50, 71);
    transition: all 1s ease-in-out;
    font-size: 0;
}

.bg-img {
    width: 0;
    height: 0;
    transition: all 0.7s ease-in-out;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 50%;
    background-attachment: fixed;
    filter: brightness(15%);
    margin: 0;
    display: inline-block;
}

.bg-img-active {
    width: 100% !important;
    filter: brightness(100%);
    z-index: 1;
}


.bg1 {
    background-image: url("bg1.jpeg");
}

.bg2 {
    background-image: url("bg2.jpeg");
}

.bg3 {
    background-image: url("bg3.jpeg");
}

.bg4 {
    background-image: url("bg4.jpeg");
}

.bg5 {
    background-image: url("bg5.jpg");
}

.place1 {
    background-image: url("place1.jpeg");
}

.place2 {
    background-image: url("place2.jpeg");
}

.place3 {
    background-image: url("place3.jpeg");
}

.place4 {
    background-image: url("place4.jpeg");
}

.about {
    background: rgb(194, 81, 109);
    text-align: center;
    padding: 100px 30px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 0;
}

.section {
    width: 250px;
    padding: 10px;
    margin: 15px 30px;
    display: inline-block;
    font-size: 30px;
}

.section-icon {
    font-size: 110px;
    margin-bottom: 30px;
}

.section-title {
    display: inline-flex;
    height: 150px;
}

.section-text {
    font-size: 20px;
    text-align: justify;
    display: inline-flex;
    text-justify: inter-word;
}

.newsletter-area {
    height: 400px;
    font-family: 'Oxygen', sans-serif;
    background-image: url(images/newsletter-bg.jpg);
    background-size: 100%;
}

.nw-title {
    text-emphasis: center;
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 80px;
}

.nw-title > i {
    color: rgb(255, 95, 135);
    margin-right: 5px;
}

.nw-text {
    color: white;
    text-align: center;
    width: 700px;
    margin: 20px auto;
    font-size: 16px;
}

.nw-email {
    margin: auto;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
    margin-top: 50px;
}

.nw-button {
    display: block;
    margin: auto;
    font-size: 16px;
    color: white;
    width: 522px;
    background: rgb(194, 81, 109);
    border: none;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.486);
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nw-button:hover {
    background: rgb(255, 95, 135);
}

.register-button2 {
    background-color:black;
    padding: 15px;
    font-size: 25px;
    color: rgb(255, 95, 135);
    margin: auto;
    margin-top: 50px;
    z-index: 2;
    width: 350px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease-in-out;
}

.register-button2:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.418);    
}

.register-button2 > i {
    vertical-align: middle;
}