#company {
	background-color: white;
	padding: 120px 10px;
}

.main-text {
	text-align: center;
	padding: 25px 20px;
	color: rgb(25, 15, 77);
	max-width: 800px;
	margin: auto;
}

.main-text h1 {
	font-weight: 300;
	margin: 0;
}

.main-text p {
	margin: 0;
	margin-top: 25px;
	padding: 0 20px;
	line-height: 1.5em;
}

#stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.11);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.11);
	border: 1px solid rgb(241, 229, 255);
	margin: 20px auto;
	max-width: 300px;
	font-size: 0.8em;
}

.stat {
	font-weight: 300;
	text-align: center;
	padding: 20px 40px;
	border-bottom: 1px solid rgb(241, 229, 255);
}

.stat:last-child {
	border-bottom: 0;
}

.stat-value {
	color: rgb(25, 15, 77);
	font-size: 3em;
}

.stat-name {
	font-weight: bold;
	color: rgb(130, 94, 235);
}

#icon-tabs-section {
	background-color: #8d70e5;
	padding: 120px 10px;
}

#icon-tabs-section > h1 {
	display: block;
	font-weight: normal;
	padding: 0 20px;
	margin: 0 auto;
	color: white;
	text-align: center;
}

#icon-tabs {
	margin-top: 40px;
}

.icon-tab-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 200%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.icon-tab-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 82px;
	height: 82px;
	font-size: 2em;
	cursor: pointer;
	border: 2px solid #d8d2ff;
	color: #d8d2ff;
	border-radius: 100%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin: 0 15px;
	position: relative;
}

.icon-tab-button.active-tab-button {
	color: #8d70e5;
	background-color: white;
	border-color: white;
}

.icon-tab-button:not(.active-tab-button):hover {
	color: white;
	border-color: white;
}

.icon-tab-triangle {
	width: 0;
	height: 0;
	border-top: 7px solid white;
	border-bottom: 7px solid transparent;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	position: absolute;
	bottom: -30px;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-tab-button.active-tab-button .icon-tab-triangle {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.icon-tab-body {
	margin: auto;
	margin-top: 80px;
	max-width: 750px;
	line-height: 1.5em;
	text-align: center;
	position: relative;
	min-height: 400px;
}

.icon-tab {
	color: white;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
	transition: opacity 0.5s ease, -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease, opacity 0.5s ease;
	transition: transform 0.3s ease, opacity 0.5s ease;
	transition: transform 0.3s ease, opacity 0.5s ease,
		-webkit-transform 0.3s ease;
	-webkit-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
	cursor: default;
	position: absolute;
}

.icon-tab.active-icon-tab {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

.icon-tab-body h1 {
	font-weight: 300;
	margin: 0;
	line-height: 1.2em;
}

.icon-tab-body p {
	margin: 0;
	margin-top: 40px;
}

#location {
	background-color: #f6f8fc;
	color: rgb(25, 15, 77);
	padding: 120px 10px;
}

#location-name {
	font-weight: 300;
}

#location i {
	margin-right: 10px;
	font-size: 1.2em;
}

#location b {
	margin: 0;
	margin-top: 40px;
	display: block;
}

#location p {
	margin: 0;
	margin-top: 20px;
	display: block;
}

#investors {
	margin-top: 60px;
	padding: 60px 0;
	border-top: 1px solid rgb(241, 229, 255);
}

#investors h1 {
	font-weight: 300;
	text-align: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#stats {
		max-width: 800px;
	}

	.stat {
		border-right: 1px solid rgb(241, 229, 255);
		border-bottom: none;
	}

	.stat:last-child {
		border-right: 0;
	}

	.icon-tab-body {
		min-height: 300px;
	}

	.icon-tab-nav {
		width: 100%;
		-webkit-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#stats {
		max-width: 1000px;
		font-size: 1em;
	}

	.icon-tab-body {
		min-height: 200px;
	}
}
