.Projects {
  height: 100vh;
  overflow-y: scroll;
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(140, 255, 169);
}

.ProjectList {
  background-color: white;
  margin: 0 auto;
  margin-bottom: 0;
  max-width: 975px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.288);
  grid-gap: 0;
  position: relative;
  padding: 40px 0;
  opacity: 0;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadein {
  animation: fadeInAnimation 1.2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-delay: 0.2s;
}

.fadeout {
  animation: fadeOutAnimation 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.Forward {
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  margin-left: auto;
  margin-right: 32px;
  margin-bottom: 32px;
}

.Forward:hover {
  opacity: 0.5;
}

.Forward > img {
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
  .ProjectList {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .ProjectList {
    padding: 80px 60px;
  }

  .Forward {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
}
