#contact {
	color: rgb(25, 15, 77);
	background-color: rgb(246, 248, 252);
	padding-top: 160px;
}

#title-container {
	margin: auto;
	max-width: 750px;
}

#form-title {
	text-align: center;
	font-weight: 300;
}

#form-subtitle {
	text-align: center;
	font-size: 1.1em;
	line-height: 1.5em;
	margin-top: 10px;
}

#form-container {
	margin-top: 40px;
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.199);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.199);
	border-radius: 5px;
}

#form-info {
	background-color: rgb(141, 112, 229);
	text-align: center;
	padding: 150px 50px;
	color: white;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#form-info ul {
	list-style-type: none;
	margin-top: 20px;
	border-bottom: 1px solid rgb(164, 137, 247);
	padding-bottom: 40px;
}

#form-info li {
	margin: 15px 0;
}

#form-info i {
	margin-right: 10px;
	color: #92f3fc;
}

#form-info p {
	margin: 50px 0;
}

#form-col {
	background-color: white;
	padding: 50px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#contact-form label {
	font-size: 0.9em;
	margin-bottom: 5px;
}

#contact-form .input-row {
	margin-top: 20px;
}

#contact-form .input-row:first-child {
	margin-top: 0;
}

#subscription-text {
	color: rgb(133, 120, 155);
	font-size: 0.9em;
	padding-left: 24px;
}

#subscription-text a {
	color: rgb(58, 158, 230);
}

.input-col {
	padding-right: 15px;
}

.input-col:last-child {
	padding-right: 0;
}

#checkbox-container .container {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	font-size: 0.9em;
	color: rgb(133, 120, 155);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#checkbox-container .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

#checkbox-container .checkmark {
	position: absolute;
	top: 4px;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: transparent;
	border: 1px solid rgb(220, 210, 233);
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#checkbox-container .container:hover {
	color: rgb(25, 15, 77);
}

#checkbox-container .container input:checked ~ .checkmark {
	border-color: rgb(141, 112, 229);
}

#checkbox-container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

#checkbox-container .container input:checked ~ .checkmark:after {
	display: block;
}

#checkbox-container .container .checkmark:after {
	left: 5px;
	top: 2px;
	width: 2px;
	height: 7px;
	border: solid rgb(141, 112, 229);
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#form-button > .button {
	margin: auto;
	padding: 20px 40px;
}

#cards-container {
	margin: 60px auto;
	max-width: 900px;
}

#cards-container .card {
	text-align: left;
	color: rgb(25, 15, 77);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#cards-container .icon {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 2.5em;
}

#cards-container .card h3 {
	margin-top: 20px;
}

#cards-container .pointer-link {
	color: rgb(58, 158, 230);
	margin-top: 20px;
}

#cards-container .pointer-link:hover {
	color: rgb(40, 123, 182);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#form-info {
		-webkit-box-ordinal-group: 1;
		-ms-flex-order: 0;
		order: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	#form-col {
		border-top-right-radius: 5px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	#cards-container .pointer-link {
		text-align: right;
		margin-top: 0;
	}

	#cards-container .card h3 {
		margin-top: 0;
	}

	#cards-container .icon {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	#cards-container .pointer-link-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-item-align: center;
		align-self: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
}
