#pricing {
	background-color: rgb(141, 112, 229);
	padding-top: 180px;
	padding-bottom: 0;
}

#pricing-bg {
	height: 50%;
	width: 130%;
	left: -20%;
	top: 75%;
	z-index: 0;
	opacity: 0;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.circle,
.bar {
	height: 24px;
	background-color: rgba(255, 255, 255, 0.329);
	margin: 12px;
	border-radius: 50px;
}

.bar {
	width: 256px;
}

.circle {
	width: 24px;
}

#h1-title {
	font-weight: 300;
	text-align: center;
	color: white;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateY(-75%);
	-ms-transform: translateY(-75%);
	transform: translateY(-75%);
	opacity: 0;
	font-size: 2em;
}

#price-types {
	max-width: 1020px;
	margin: auto 20px;
	margin-top: 50px;
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.219);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.219);
	position: relative;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-transform: translateY(25%);
	-ms-transform: translateY(25%);
	transform: translateY(25%);
	opacity: 0;
}

.price-type {
	padding: 80px 0;
}

.price-type > h1 {
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

#free-type {
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#free-type > h1 {
	color: rgb(41, 204, 158);
}

#custom-type {
	background-color: rgb(45, 42, 76);
}

#custom-type > h1 {
	color: rgb(165, 144, 249);
}

.type-list {
	margin: auto;
	margin-top: 40px;
	list-style-type: none;
	font-size: 0.8em;
	padding: 0 10px;
	width: 100%;
	text-align: center;
}

.type-list > li {
	margin-bottom: 15px;
}

#free-type li {
	color: rgb(25, 15, 77);
}

#free-type .type-list i {
	color: #1fada2;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-right: 15px;
	background-color: #acf6d7;
	line-height: 25px;
	border-radius: 50px;
	font-size: 0.8em;
}

#custom-type li {
	color: white;
}

#custom-type .type-list i {
	color: #e0deec;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	margin-right: 15px;
	background-color: #575095;
	line-height: 25px;
	border-radius: 50px;
	font-size: 0.8em;
}

.action-button {
	margin: auto;
	margin-top: 60px;
	padding: 20px 40px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.116);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.116);
	max-width: 200px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
}

.action-button:hover {
	-webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.226);
	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.226);
}

.action-button.free {
	color: white;
	background-color: rgb(41, 204, 158);
}

.action-button.free:hover {
	background-color: #1fada2;
}

.action-button.custom {
	color: white;
	background-color: rgb(165, 144, 249);
}

.action-button.custom:hover {
	background-color: rgb(140, 118, 231);
}

.action-button.small {
	margin: auto;
	padding: 10px;
	max-width: 50%;
	font-size: 0.8em;
}

#price-about {
	background-color: white;
	margin-top: -80px;
	padding-top: 160px;
	padding-bottom: 80px;
}

#prices-subtitle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid rgb(241, 229, 255);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 60px;
	font-size: 0.8em;
	text-align: center;
}

.subtitle {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
	margin-left: 40px;
	color: rgb(25, 15, 77);
}

.subtitle i {
	font-size: 1em;
	display: block;
	margin-bottom: 5px;
}

.subtitle:first-of-type {
	margin-left: 0;
}

#price-about .fa-minus {
	color: rgb(196, 186, 207);
}

#price-about .fa-check {
	color: rgb(41, 204, 158);
}

#price-about .fa-plus-circle {
	color: rgb(165, 144, 249);
}

.price-table {
	margin-top: 20px;
	margin-bottom: 40px;
}

.ptable-header {
	color: rgb(25, 15, 77);
	font-weight: bold;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid rgb(241, 229, 255);
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	padding: 15px 0;
	top: 79px;
}

.ptable-header .action-button {
	display: none;
}

.row-2,
.row-3 {
	text-align: center;
	font-size: 0.8em;
}

.ptable-title i {
	margin-right: 10px;
}

.ptable-item {
	padding: 15px 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: rgb(25, 15, 77);
}

.ptable-i-name {
	padding-left: 10px;
	font-size: 0.8em;
}

.i-row-2,
.i-row-3 {
	text-align: center;
}

.ptable-item:nth-child(even) {
	background-color: rgb(246, 248, 252);
}

#faq {
	background-color: rgb(246, 248, 252);
}

#faq > h1 {
	margin: 0;
	margin-bottom: 40px;
	font-weight: 300;
	text-align: center;
	color: rgb(25, 15, 77);
}

.question-title {
	margin: 0;
	color: rgb(25, 15, 77);
}

.question-text {
	margin: 0;
	margin-top: 20px;
	color: rgb(74, 80, 90);
}

.question {
	padding: 20px;
}

#contact-help {
	margin: 40px 0;
	text-align: center;
}

#contact-help .pointer-link {
	color: rgb(58, 158, 230);
}

#contact-help .pointer-link:hover {
	color: rgb(40, 123, 182);
}

.q-popup {
	color: #cbced4;
	font-size: 1.2em;
	margin-left: 10px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.q-popup:hover {
	color: rgb(165, 144, 249);
}

.help-pop {
	padding: 20px;
	position: absolute;
	background-color: #423b79;
	color: white;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform: translateX(-50%) translateY(-125%);
	-ms-transform: translateX(-50%) translateY(-125%);
	transform: translateX(-50%) translateY(-125%);
	border-radius: 5px;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.288);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.288);
	width: 90%;
}

.help-pop h3 {
	font-size: 1em;
	margin: 0;
}

.help-pop p {
	font-size: 0.8em;
	margin: 0;
	margin-top: 5px;
}

.help-pop .pop-triangle {
	width: 0;
	height: 0;
	border-top: 15px solid #423b79;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid transparent;
	-webkit-transform: translateX(-50%) translateY(20px);
	-ms-transform: translateX(-50%) translateY(20px);
	transform: translateX(-50%) translateY(20px);
	position: absolute;
}

#mobile-action-buttons > .row > div {
	padding: 0 5px;
}

#mobile-action-buttons .action-button {
	padding: 10px;
	margin-top: 20px;
}

@media (min-width: 1042px) {
	#price-types {
		margin-left: auto;
		margin-right: auto;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.help-pop {
		width: initial;
		left: initial;
		max-width: 250px;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#h1-title {
		font-size: 3em;
	}
	#free-type {
		border-top-right-radius: 0px;
	}

	#custom-type {
		border-top-right-radius: 5px;
	}

	#prices-subtitle {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: right;
	}

	.help-pop {
		max-width: 350px;
	}

	#mobile-action-buttons {
		display: none;
	}

	.ptable-header .action-button {
		display: block;
	}

	.type-list {
		font-size: 1.1em;
		width: 300px;
		padding: 0;
	}

	.subtitle i {
		margin-right: 15px;
		font-size: 1.5em;
		display: inline;
	}

	.ptable-title i {
		margin-right: 20px;
	}

	.ptable-title {
		font-size: 1.5em;
	}

	.row-2,
	.row-3 {
		font-size: 1em;
	}

	.ptable-i-name {
		padding-left: 20px;
		font-size: 1em;
	}
}
